<ng-container *ngIf="errorUnauthorizedAccess">
    <p class="text-3xl text-orange-700">{{"reset-password-by-user-landing-page.unauthorized-access-error" | translate}}</p>
</ng-container>

<ng-container *ngIf="errorNoUserEmailProvided">
    <p class="text-3xl text-orange-700">{{"reset-password-by-user-landing-page.no-email-provided-error" | translate}}</p>
</ng-container>

<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 border border-gray-300 rounded shadow-md bg-neutral-1">
      <!-- Sezione messaggi: si visualizza in cima al riquadro -->
      <ng-container *ngIf="thereAreMessages">
        <div class="mb-4">
          <button class="w-full btn-primary" type="button" (click)="clearMessages()">
            {{"reset-password-by-user-landing-page.clear-messages" | translate}}
          </button>
          <div *ngIf="errorUserNotFoundAfterRequest" class="mt-2 text-xl text-blue-800">
            {{"reset-password-by-user-landing-page.user-not-found-error" | translate}}
          </div>
          <div *ngIf="errorInvalidToken" class="mt-2 text-xl text-blue-800">
            {{"reset-password-by-user-landing-page.invalid-token-error" | translate}}
          </div>
          <div *ngIf="successPasswordUpdated" class="mt-2 text-xl text-green-600">
            {{"reset-password-by-user-landing-page.password-updated-success" | translate}}
          </div>
        </div>
      </ng-container>
  
      <!-- Sezione form -->
      <div class="flex flex-col items-center align-middle" *ngIf="!errorUnauthorizedAccess && !errorNoUserEmailProvided">
        <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
          <div class="flex flex-col items-start">
            <label class="label-primary" for="input-field">
              {{"reset-password-by-user-landing-page.password-label" | translate}}:
            </label>
            <div class="flex flex-col">
              <div class="flex flex-col">
                <input class="mt-1 input-primary" id="input-field" name="passwordInput" #passwordInputField
                       [type]="isVisiblePassword ? 'text' : 'password'" [(ngModel)]="inputField" />
              </div>
              <div *ngIf="errorInvalidPassword" class="error-message">
                {{"reset-password-by-user-landing-page.password-error" | translate}}
              </div>
            </div>
          </div>
          <div id="button-container" class="mt-6 text-center">
            <button type="submit" class="btn-primary">
              {{"reset-password-by-user-landing-page.confirm" | translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
