<ng-container *ngIf="errorUnauthorizedAccess">
    <p class="text-3xl text-orange-700">{{"reset-password-by-user-landing-page.unauthorized-access-error" | translate}}</p>
</ng-container>

<ng-container *ngIf="errorNoUserEmailProvided">
    <p class="text-3xl text-orange-700">{{"reset-password-by-user-landing-page.no-email-provided-error" | translate}}</p>
</ng-container>

<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="p-6 border border-gray-300 rounded shadow-md bg-neutral-1">
        <div class="flex flex-col items-center align-middle" *ngIf="!errorUnauthorizedAccess && !errorNoUserEmailProvided">
            <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
                <div class="flex flex-col items-start">
                    <label class="label-primary" for="input-field">{{"reset-password-by-user-landing-page.password-label"}}:</label>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <input class="mt-1 input-primary" id="input-field" name="passwordInput" #passwordInputField [type]="isVisiblePassword ? 'text' : 'password'" [(ngModel)]="inputField" />
                            <img class="absolute right-1" id="eye-password" (click)="isVisiblePassword=!isVisiblePassword" [src]="isVisiblePassword ? '/src/assets/icons/openedEye.png' : '/src/assets/icons/closedEye.png'" />
                        </div>
                        <div *ngIf="errorInvalidPassword" class="error-message">
                            {{"reset-password-by-user-landing-page.password-error" | translate}}
                        </div>
                    </div>
                </div>

                <div id="button-container" class="mt-6 text-center">
                    <button type="submit" class="btn-primary">{{"reset-password-by-user-landing-page.confirm" | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-container id="messages-container" *ngIf="thereAreMessages" class="mt-16">
    <button class="btn-primary w-fit" type="button" (click)="clearMessages()">{{"reset-password-by-user-landing-page.clear-messages" | translate}}</button>
    <br>
    <h1 class="text-xl text-blue-800" *ngIf="errorUserNotFoundAfterRequest">
        {{"reset-password-by-user-landing-page.user-not-found-error" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="successPasswordUpdated">
        {{"reset-password-by-user-landing-page.password-updated-success" | translate}}
    </h1>
</ng-container>
