<div *ngIf="isModalOpen" class="modal">
    <div class="justify-center px-7 pt-7 pb-5 modal-dialog">
        <h5 class="text-center">{{'profile.edit_bio' | translate}}</h5>
  
        <button (click)="close()" class="close-modal">
            &times;
        </button>

        <form (ngSubmit)="updateBio()">
            <div class="flex justify-center">
                <textarea class="p-2 mx-4 w-full rounded-md border-none resize-y focus:outline-secondary bg-neutral-2" rows="10" placeholder="{{'profile.edit_bio_placeholder' | translate}}"
                id="bio" name="bio" [(ngModel)]="bio"></textarea>
            </div>

            <div class="flex gap-x-5 justify-center mt-4">
                <button type="submit" class="w-1/4 btn-primary">{{'save_button_label' | translate}}</button>
                <button type="button" class="w-1/4 btn-cancel" (click)="close()">{{'cancel_button_label' | translate}}</button>
            </div>
        </form>
        <p *ngIf="error" class="mt-4 mb-0 text-center error-message">{{'error' | translate}}</p>
    </div>
  </div>