<ng-container *ngIf="reviews && reviews.length > 0">
    <div class="flex items-start self-center justify-center p-3 align-top justify-self-center w-fit 2xl:w-max flex-nowrap gap-x-10 relative">
        <button type="button" class="carousel-arrow left-2" (click)="prevPage()" [disabled]="pageNumber === 0">
            <svg class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
        </button>
        
        <div class="flex flex-wrap justify-center gap-3">
            <div *ngFor="let review of reviews" class="flex max-w-sm p-4 bg-white rounded-lg shadow-md text-start lg:max-w-4xl">
                <app-review-card [review]="review" (reviewChange)="propagateReviewChange($event)"></app-review-card>
            </div>
        </div>

        <!-- class="z-40 flex items-center self-center justify-center w-10 h-10 transition rounded-full bg-gray-200/50 hover:bg-gray-300 focus:outline-none"-->
        <button type="button" class="carousel-arrow right-2" (click)="nextPage()" [disabled]="pageNumber === totalPages - 1">
            <svg class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>

    <div class="flex items-center justify-center space-x-2 lg:px-2"> 
        <div class="carousel-positions-container">
            <input type="radio" name="pagePosition" class="carousel-position" *ngFor="let _ of [].constructor(totalPages); let n = index" [checked]="n == pageNumber" value="{{n}}" (click)="getPage(n)">
        </div>
    </div>
</ng-container>
<div *ngIf="!reviews || reviews.length === 0" class="text-center">
    <span>{{'review.no_reviews' | translate}}</span>
</div>