<div *ngIf="isVisible" class="modal">
  <div class="bg-neutral-1 rounded-lg p-6 max-w-2xl w-full mx-4 max-h-[90vh] overflow-y-auto relative">
    <button 
      (click)="close.emit()"
      class="close-modal">
      &times;
    </button>

    <h2 class="mb-6 font-bold">{{ 'filters.title' | translate }}</h2>
    
    <h3 class="mb-6">{{ 'filters.services' | translate }}</h3>
    <div class="grid grid-cols-2 gap-4 mb-6 md:grid-cols-3">
      <div 
        *ngFor="let service of services"
        (click)="toggleService(service)"
        class="flex items-center p-3 transition-colors duration-200 border rounded-lg cursor-pointer"
        [ngClass]="{
          'border-primary-light bg-neutral-2': isSelected(service),
          'border-gray-200 hover:border-blue-300': !isSelected(service)
        }"
      >
        <img [src]="iconUrl + '/services/' + service.icon_url" class="w-6 h-6 mr-2" [alt]="service.title">
        <span class="text-sm">{{ service.title }}</span>
      </div>
    </div>

    <form [formGroup]="filterForm">
      <h3 class="mb-6">{{ 'filters.price' | translate }}</h3>
      <div class="grid grid-cols-2 gap-4 mb-6">
        <div class="flex flex-col">
          <label for="min_price" class="text-sm font-medium select-none text-primary-dark">
            {{ 'filters.min_price' | translate }}
          </label>
          <input 
            id="min_price" 
            type="number" 
            formControlName="minPrice" 
            class="input-primary"
          >
        </div>
        <div class="flex flex-col">
          <label for="max_price" class="text-sm font-medium select-none text-primary-dark">
            {{ 'filters.max_price' | translate }}
          </label>
          <input 
            id="max_price" 
            type="number" 
            formControlName="maxPrice" 
            class="input-primary"
          >
        </div>
        <div *ngIf="filterForm.errors?.['priceInvalid']" class="text-red-500 text-sm">
          {{ 'filters.invalid_price_range' | translate }}
        </div>
      </div>

      <h3 class="mb-6">{{ 'filters.rating' | translate }}</h3>
<div class="grid grid-cols-2 gap-4 mb-6">
  <div class="flex flex-col">
    <label class="text-sm font-medium select-none text-primary-dark">
      {{ 'filters.min_rating' | translate }}
    </label>
    <div class="flex gap-2">
      <div class="mt-1 text-2xl stars-container">
        <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
          <div 
            class="cursor-pointer star-container"
            (click)="setMinRating(i + 1)"
            [ngClass]="{
              'star-full': filterForm.get('minRating')?.value > i,
              'star-empty': filterForm.get('minRating')?.value <= i
            }"
          >
            &#x2605;
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <label class="text-sm font-medium select-none text-primary-dark">
      {{ 'filters.max_rating' | translate }}
    </label>
    <div class="flex gap-2">
      <div class="mt-1 text-2xl stars-container">
        <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
          <div 
            class="cursor-pointer star-container"
            (click)="setMaxRating(i + 1)"
            [ngClass]="{
              'star-full': filterForm.get('maxRating')?.value > i,
              'star-empty': filterForm.get('maxRating')?.value <= i
            }"
          >
            &#x2605;
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="filterForm.errors?.['ratingInvalid']" class="text-red-500 text-sm">
    {{ 'filters.invalid_rating_range' | translate }}
  </div>
</div>

    </form>

    <div class="flex justify-end gap-4 pt-4 border-t">
      <button 
        (click)="close.emit()"
        class="w-24 btn-cancel"
      >
        {{ 'filters.cancel' | translate }}
      </button>
      <button 
        (click)="applyFilters()"
        [disabled]="filterForm.invalid"
        class="w-24 btn-primary"
      >
        {{ 'filters.apply' | translate }}
      </button>
    </div>
  </div>
</div>