<div class="relative flex flex-col items-center p-8">
    <app-search-bar class="relative z-10"></app-search-bar>
    <section class="py-8 border-b bg-neutral-1">
        <div class="container flex flex-wrap pt-4 pb-12 mx-auto">
          <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
            {{"search.resFound" | translate}}
          </h2>
          <div class="w-full mb-4">
            <div class="w-64 h-1 py-0 mx-auto my-0 rounded-t opacity-25 gradient"></div>
          </div>
    
          <app-accommodation-cards [accommodations$]="foundAccommodations$"></app-accommodation-cards>
        </div>
    </section>
</div>