<div class="flex flex-row items-center justify-center gap-10 m-10">
  <app-search-bar (searchSubmitted)="search($event)" class="relative z-10" ></app-search-bar>
  <img 
    class="w-auto h-12 transition-opacity duration-200 cursor-pointer hover:opacity-80" 
    [src]="iconUrl + '/filter.png'" 
    alt="Filter Icon" 
    (click)="showFilters = true"
  >
</div>

<app-filter-modal
  [isVisible]="showFilters"
  [services]="(services$ | async) || []"
  (close)="showFilters = false"
  (apply)="onApplyFilters($event)"
></app-filter-modal>

<section class="py-8 bg-neutral-2">
  <div class="container px-2 pt-4 pb-12 mx-auto text-gray-800">
    <div class="flex items-center justify-center gap-x-6">
      <h2 class="text-5xl font-bold text-gray-800">
        {{ 'search.resFound' | translate }}
      </h2>

      <div class="relative flex items-center gap-x-4">
        <button 
          type="button" 
          class="flex items-center text-lg font-medium text-primary gap-x-1 input-primary"
          (click)="toggleOrderByMenu($event)"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22px">
            <path d="M12 20.09a1.24 1.24 0 0 1-.88-.36L6 14.61a.75.75 0 1 1 1.06-1.06L12 18.49l4.94-4.94A.75.75 0 0 1 18 14.61l-5.12 5.12a1.24 1.24 0 0 1-.88.36m6-9.46a.75.75 0 0 0 0-1.06l-5.12-5.11a1.24 1.24 0 0 0-1.754-.006l-.006.006L6 9.57a.75.75 0 0 0 0 1.06.74.74 0 0 0 1.06 0L12 5.7l4.94 4.93a.73.73 0 0 0 .53.22c.2 0 .39-.078.53-.22"></path>
          </svg>
          <p style="user-select: none;">{{"search.order" | translate}}{{ translatedOrderText$ | async }} </p>
        </button>

        <div 
          *ngIf="isOrderByOpen" 
          class="absolute left-0 z-50 w-48 mt-2 bg-white shadow-lg top-full rounded-xl ring-1 ring-gray-900/5"
        >
          <div class="p-4 space-y-2">
            <button (click)="setOrderParam('minPrice-asc', $event)" class="block w-full px-4 py-2 text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.priceAsc' | translate }}</button>
            <button (click)="setOrderParam('minPrice-desc', $event)" class="block w-full px-4 py-2 text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.priceDesc' | translate }}</button>
            <button (click)="setOrderParam('approvalTimestamp-asc', $event)" class="block w-full px-4 py-2 text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.recentAsc' | translate }}</button>
            <button (click)="setOrderParam('approvalTimestamp-desc', $event)" class="block w-full px-4 py-2 text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.recentDesc' | translate }}</button>
            <button (click)="setOrderParam('rating-asc', $event)" class="block w-full px-4 py-2 text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.ratingAsc' | translate }}</button>
            <button (click)="setOrderParam('rating-desc', $event)" class="block w-full px-4 py-2 text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.ratingDesc' | translate }}</button>
          </div>
        </div>
      </div>
    </div>

    <app-search-accommodation-list
      [accommodations$]="foundAccommodations$" 
      [pageNumber]="foundAccommodationsPageNumber" 
      [totalPages]="foundAccommodationsTotalPages" 
      (askForPage)="loadFoundResearchPage($event)">
    </app-search-accommodation-list>
  </div>
</section>

