<div class="flex flex-col gap-10 justify-center items-center mx-0 mt-0 mb-10 sm:flex-row sm:m-10">
  <app-search-bar (searchSubmitted)="search($event)" class="relative z-10 w-screen rounded-lg border-t border-x border-slate-300 sm:border-none xl:w-fit" ></app-search-bar>
  <div class="flex flex-row gap-x-5 items-center w-fit sm:block sm:gap-x-0 group hover:cursor-pointer"
  (click)="showFilters = true">
    <img 
      class="w-auto h-12 transition-opacity duration-200 cursor-pointer hover:opacity-80" 
      [src]="iconUrl + '/filter.png'" 
      alt="Filter Icon" 
    >
    <label class="font-medium text-primary-dark sm:hidden group-hover:text-primary hover:cursor-pointer" >{{'search.filters' | translate}}</label>
  </div>
</div>

<app-filter-modal
  [isVisible]="showFilters"
  [services]="(services$ | async) || []"
  (close)="showFilters = false"
  (apply)="onApplyFilters($event)"
></app-filter-modal>

<section class="py-8 bg-neutral-2">
  <div class="container px-2 pt-4 pb-12 mx-auto text-gray-800">
    <div class="flex gap-x-6 justify-center items-center">
      <h2 class="text-5xl font-bold text-gray-800">
        {{ 'search.resFound' | translate }}
      </h2>

      <div class="flex relative gap-x-4 items-center">
        <button 
          type="button" 
          class="flex gap-x-1 items-center text-lg font-medium text-primary input-primary"
          (click)="toggleOrderByMenu($event)"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22px">
            <path d="M12 20.09a1.24 1.24 0 0 1-.88-.36L6 14.61a.75.75 0 1 1 1.06-1.06L12 18.49l4.94-4.94A.75.75 0 0 1 18 14.61l-5.12 5.12a1.24 1.24 0 0 1-.88.36m6-9.46a.75.75 0 0 0 0-1.06l-5.12-5.11a1.24 1.24 0 0 0-1.754-.006l-.006.006L6 9.57a.75.75 0 0 0 0 1.06.74.74 0 0 0 1.06 0L12 5.7l4.94 4.93a.73.73 0 0 0 .53.22c.2 0 .39-.078.53-.22"></path>
          </svg>
          <p style="user-select: none;">{{"search.order" | translate}}{{ translatedOrderText$ | async }} </p>
        </button>

        <div 
          *ngIf="isOrderByOpen" 
          class="absolute left-0 top-full z-50 mt-2 w-48 bg-white rounded-xl ring-1 shadow-lg ring-gray-900/5"
        >
          <div class="p-4 space-y-2">
            <button (click)="setOrderParam('minPrice', 'ASC' , $event)" class="block px-4 py-2 w-full text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.priceAsc' | translate }}</button>
            <button (click)="setOrderParam('minPrice', 'DESC' , $event)" class="block px-4 py-2 w-full text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.priceDesc' | translate }}</button>
            <button (click)="setOrderParam('approvalTimestamp', 'ASC' , $event)" class="block px-4 py-2 w-full text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.recentAsc' | translate }}</button>
            <button (click)="setOrderParam('approvalTimestamp', 'DESC' , $event)" class="block px-4 py-2 w-full text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.recentDesc' | translate }}</button>
            <button (click)="setOrderParam('rating', 'ASC' , $event)" class="block px-4 py-2 w-full text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.ratingAsc' | translate }}</button>
            <button (click)="setOrderParam('rating', 'DESC' , $event)" class="block px-4 py-2 w-full text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.ratingDesc' | translate }}</button>
            <div *ngFor="let address of defaultAddresses">
              <button (click)="setAddressParam(address.address, $event); setOrderParam('distance', 'ASC' , $event) " class="block px-4 py-2 w-full text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.addressASC'| translate }} {{address.name}}</button>
              <button (click)=" setAddressParam(address.address, $event); setOrderParam('distance', 'DESC' , $event)" class="block px-4 py-2 w-full text-sm text-gray-900 hover:bg-neutral-2 hover:cursor-pointer hover:text-secondary-dark">{{ 'search.addressDESC' | translate }} {{address.name}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row gap-6 mt-8">
      <div class="w-full sm:w-1/2 lg:w-3/5">
        <app-search-accommodation-list
          [accommodations$]="foundAccommodations$" 
          [pageNumber]="foundAccommodationsPageNumber" 
          [totalPages]="foundAccommodationsTotalPages" 
          (askForPage)="loadFoundResearchPage($event)">
        </app-search-accommodation-list>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/2 h-[600px] sticky top-4">
        <div class="border-2 border-black h-full rounded-lg overflow-hidden">
          <app-map [accommodations$]="foundAccommodations$"></app-map>
        </div>
      </div>
    </div>
  </div>
</section>

