<section *ngIf="allPendingBookings.length > 0" class="flex items-center justify-center pt-8" [ngClass]="changeBgColor()">
    <div class="container p-5 text-center" >
        <h2>{{'host-dashboard.pending' | translate}}</h2>
        <app-booking-cards [bookings$]="pendingBookings$" [pageNumber]="pendingBookingsPageNumber" [totalPages]="pendingBookingsTotalPages" 
            (askForPage)="loadPendingBookingsPage($event)" [isOwner]="true"></app-booking-cards>
    </div>
</section>


<section *ngIf="allAcceptedBookings.length > 0" class="flex items-center justify-center pt-8" [ngClass]="changeBgColor()">
    <div class="container p-5 text-center" >
        <h2>{{'host-dashboard.accepted' | translate}}</h2>
        <app-booking-cards [bookings$]="acceptedBookings$" [pageNumber]="acceptedBookingsPageNumber" [totalPages]="acceptedBookingsTotalPages" 
        (askForPage)="loadAcceptedBookingsPage($event)" [isOwner]="true"></app-booking-cards>
    </div>
</section>

<section *ngIf="allDoingBookings.length > 0" class="flex items-center justify-center pt-8" [ngClass]="changeBgColor()">
    <div class="container p-5 text-center">
        <h2>{{'host-dashboard.doing' | translate}}</h2>
        <app-booking-cards [bookings$]="doingBookings$" [pageNumber]="doingBookingsPageNumber" [totalPages]="doingBookingsTotalPages" 
        (askForPage)="loadDoingBookingsPage($event)" [isOwner]="true"></app-booking-cards>
    </div>
</section>

<section *ngIf="allDoneBookings.length > 0" class="flex items-center justify-center pt-8" [ngClass]="changeBgColor()">
    <div class="container p-5 text-center">
        <h2>{{'host-dashboard.done' | translate}}</h2>
        <app-booking-cards [bookings$]="doneBookings$" [pageNumber]="doneBookingsPageNumber" [totalPages]="doneBookingsTotalPages" 
        (askForPage)="loadDoneBookingsPage($event)" [isOwner]="true"></app-booking-cards>
    </div>
</section>

<section *ngIf="allRejectedBookings.length > 0" class="flex items-center justify-center pt-8" [ngClass]="changeBgColor()">
    <div class="container p-5 text-center" >
        <h2>{{'host-dashboard.rejected' | translate}}</h2>
        <app-booking-cards [bookings$]="rejectedBookings$" [pageNumber]="rejectedBookingsPageNumber" [totalPages]="rejectedBookingsTotalPages" 
            (askForPage)="loadRejectedBookingsPage($event)" [isOwner]="true"></app-booking-cards>
    </div>
</section>

<section *ngIf="allHostBookings.length == 0" class="flex items-center justify-center pt-8" [ngClass]="changeBgColor()">
    <div class="container p-5 text-center">
        <span>{{'host-dashboard.no_bookings' | translate}}</span>
    </div>
</section>