<div *ngIf="review" class="w-72">
  <div class="flex-shrink-0 mx-4 mt-4">
    <div class="flex items-center justify-left gap-x-5">
      <div class="relative w-10 h-10 overflow-hidden rounded-full shadow-md">
        <img class="absolute top-0 left-0 object-cover w-full h-full bg-cover object-fit" src="{{userPictureUrl}}" alt="Profile picture">
      </div>
      <p class="relative">
        <span class="font-bold text-gray-600">{{review.author}}</span>
      </p>
    </div>
  </div>
  <div class="mx-4 mt-2">
    <div class="mt-1 text-2xl stars-container">
      <div class="star-container" [ngClass]="{'star-half-container': 1 > review.overallRating && review.overallRating > 0}">
        <div [ngClass]="{'star-full': review.overallRating >= 1, 'star-empty': 0 >= review.overallRating}">&#x2605;</div>
      </div>
      <div class="star-container" [ngClass]="{'star-half-container': 2 > review.overallRating && review.overallRating > 1}">
        <div [ngClass]="{'star-full': review.overallRating >= 2, 'star-empty': 1 >= review.overallRating}">&#x2605;</div>
      </div>
      <div class="star-container" [ngClass]="{'star-half-container': 3 > review.overallRating && review.overallRating > 2}">
        <div [ngClass]="{'star-full': review.overallRating >= 3, 'star-empty': 2 >= review.overallRating}">&#x2605;</div>
      </div>
      <div class="star-container" [ngClass]="{'star-half-container': 4 > review.overallRating && review.overallRating > 3}">
        <div [ngClass]="{'star-full': review.overallRating >= 4, 'star-empty': 3 >= review.overallRating}">&#x2605;</div>
      </div>
      <div class="star-container" [ngClass]="{'star-half-container': 5 > review.overallRating && review.overallRating > 4}">
        <div [ngClass]="{'star-full': review.overallRating >= 5, 'star-empty': 4 >= review.overallRating}">&#x2605;</div>
      </div>
    </div>
    <div [ngClass]="{'preview': !expanded}">
      <div class="mt-2">
        <h5>{{review.title}}</h5>
        <div>
          <span *ngIf="review.approval_timestamp" class="rating-label">{{review.approval_timestamp | date:'MMM yyyy':undefined:locale}}</span>
        </div>
        <p class="mt-1">{{review.description}}</p>
      </div>
      <div class="mt-4 text-gray-600">
        <div class="flex gap-2">
          <span *ngIf="review.comfort" class="rating-label">{{'review.comfort' | translate}}</span>
          <div class="text-xl stars-container">
            <div class="star-container" [ngClass]="{'star-half-container': 1 > review.comfort && review.comfort > 0}">
              <div [ngClass]="{'star-full': review.comfort >= 1, 'star-empty': 0 >= review.comfort}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 2 > review.comfort && review.comfort > 1}">
              <div [ngClass]="{'star-full': review.comfort >= 2, 'star-empty': 1 >= review.comfort}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 3 > review.comfort && review.comfort > 2}">
              <div [ngClass]="{'star-full': review.comfort >= 3, 'star-empty': 2 >= review.comfort}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 4 > review.comfort && review.comfort > 3}">
              <div [ngClass]="{'star-full': review.comfort >= 4, 'star-empty': 3 >= review.comfort}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 5 > review.comfort && review.comfort > 4}">
              <div [ngClass]="{'star-full': review.comfort >= 5, 'star-empty': 4 >= review.comfort}">&#x2605;</div>
            </div>
          </div>
        </div>

        <div *ngIf="review.convenience" class="flex gap-2">
          <span class="rating-label">{{'review.convenience' | translate}}</span>
          <div class="text-xl stars-container">
            <div class="star-container" [ngClass]="{'star-half-container': 1 > review.convenience && review.convenience > 0}">
              <div [ngClass]="{'star-full': review.convenience >= 1, 'star-empty': 0 >= review.convenience}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 2 > review.convenience && review.convenience > 1}">
              <div [ngClass]="{'star-full': review.convenience >= 2, 'star-empty': 1 >= review.convenience}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 3 > review.convenience && review.convenience > 2}">
              <div [ngClass]="{'star-full': review.convenience >= 3, 'star-empty': 2 >= review.convenience}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 4 > review.convenience && review.convenience > 3}">
              <div [ngClass]="{'star-full': review.convenience >= 4, 'star-empty': 3 >= review.convenience}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 5 > review.convenience && review.convenience > 4}">
              <div [ngClass]="{'star-full': review.convenience >= 5, 'star-empty': 4 >= review.convenience}">&#x2605;</div>
            </div>
          </div>
        </div>

        <div *ngIf="review.position" class="flex gap-2">
          <span class="rating-label">{{'review.position' | translate}}</span>
          <div class="text-xl stars-container">
            <div class="star-container" [ngClass]="{'star-half-container': 1 > review.position && review.position > 0}">
              <div [ngClass]="{'star-full': review.position >= 1, 'star-empty': 0 >= review.position}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 2 > review.position && review.position > 1}">
              <div [ngClass]="{'star-full': review.position >= 2, 'star-empty': 1 >= review.position}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 3 > review.position && review.position > 2}">
              <div [ngClass]="{'star-full': review.position >= 3, 'star-empty': 2 >= review.position}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 4 > review.position && review.position > 3}">
              <div [ngClass]="{'star-full': review.position >= 4, 'star-empty': 3 >= review.position}">&#x2605;</div>
            </div>
            <div class="star-container" [ngClass]="{'star-half-container': 5 > review.position && review.position > 4}">
              <div [ngClass]="{'star-full': review.position >= 5, 'star-empty': 4 >= review.position}">&#x2605;</div>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </div>
  <a class="mx-4 mb-2 text-sm font-semibold" *ngIf="!expanded" (click)="expanded = true">{{'review.see_more' | translate}}  &#9660;</a>
  <a class="mx-4 mb-2 text-sm font-semibold" *ngIf="expanded" (click)="expanded = false">{{'review.see_less' | translate}}  &#9650;</a>
</div>
