<form [formGroup]="searchForm" (ngSubmit)="search()" class="w-full mb-1">
    <div class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-4 mb-4">
      <div class="flex flex-col">
        <label class="label-primary mb-1">{{'admin-dashdoard-search-bar.title' | translate}}</label>
        <input type="text" formControlName="title" class="input-primary" />
      </div>
      
      <div class="flex flex-col">
        <label class="label-primary mb-1">{{'admin-dashdoard-search-bar.ownerName' | translate}}</label>
        <input type="text" formControlName="ownerName" class="input-primary" />
      </div>
      
      <div class="flex flex-col">
        <label class="label-primary mb-1">{{'admin-dashdoard-search-bar.ownerSurname' | translate}}</label>
        <input type="text" formControlName="ownerSurname" class="input-primary" />
      </div>
      
      <div class="flex flex-col">
        <label class="label-primary mb-1">{{'admin-dashdoard-search-bar.city' | translate}}</label>
        <input type="text" formControlName="city" class="input-primary" />
      </div>
    </div>
    
    <div class="flex justify-end">
      <button type="submit" class="btn-primary">{{'admin-dashdoard-search-bar.search' | translate}}</button>
    </div>
  </form>