<section class="flex justify-center items-center pt-6 pb-4 bg-neutral-1">
    <ng-container *ngIf="user">
        <div class="container flex flex-wrap gap-x-20 justify-center items-center">
            <div class="relative">
                <div class="overflow-hidden relative w-44 h-44 rounded-full shadow-md">
                    <img class="object-cover absolute top-0 left-0 w-full h-full bg-cover object-fit" [src]="pictureUrl" (error)="pictureUrl = defaultPictureUrl" alt="Profile picture">
                </div>
                <button class="top-0 right-0 rounded-full shadow-md bg-neutral-2 icon" aria-label="edit picture" (click)="showEditPictureModal()">
                    <img src="{{iconsUrl}}\\pencil.png" alt="edit">
                </button>
            </div>
            <div class="w-fit">
                <div class="relative w-fit">            
                    <table class="p-4 border-separate border-spacing-x-5">
                        <tr>
                            <td class="font-bold text-primary">{{'profile.name' | translate}}</td>
                            <td>{{user.name}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold text-primary">{{'profile.surname' | translate}}</td>
                            <td>{{user.surname}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold text-primary">{{'profile.email' | translate}}</td>
                            <td>{{user.email}}</td>
                        </tr>
                    </table>
                </div>
                <div class="relative w-fit">
                    <button class="top-0 right-0 rounded-full shadow-md bg-neutral-2 icon peer" aria-label="edit biography" (click)="showEditBioModal()">
                        <img src="{{iconsUrl}}\\pencil.png" alt="edit">
                    </button>
                
                    <table class="pr-8 ml-4 rounded-lg border-separate table-fixed peer-hover:text-primary-dark border-spacing-x-5" [ngClass]="{'w-96': user.bio}">
                        <tr>
                            <td class="font-bold text-primary" [ngClass]="{'w-20': user.bio}">{{'profile.bio' | translate}}</td>
                            <td>{{user.bio}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
</section>

<app-settings class="bg-neutral-2"></app-settings>

<section class="flex justify-center items-center pt-6 w-screen bg-neutral-1">
    <div class="py-5 text-center">
        <h2>{{'profile.reviews_to_accept' | translate}}</h2>
        <app-review-cards [reviews]="waitingReviews" [pageNumber]="waitingReviewsPageNumber" [totalPages]="waitingReviewsTotalPages" 
        (askForPage)="loadWaitingReviewsPage($event)" (reviewAction)="showReviewModal($event.id, $event.action)"></app-review-cards>
    </div>
</section>

<section class="flex justify-center items-center pt-6 w-screen bg-neutral-2">
    <div class="py-5 text-center">
        <h2>{{'profile.reviews_title' | translate}}</h2>
        <app-review-cards [reviews]="reviews" [pageNumber]="reviewsPageNumber" [totalPages]="reviewsTotalPages" 
        (askForPage)="loadUserReviewsPage($event)"></app-review-cards>
    </div>
</section>

<app-review-accept-reject-modal [reviewId]="selectedReviewId" [isModalOpen]="isReviewModalOpen" [action]="reviewModalAction"
(closeModal)="closeReviewModal($event)"></app-review-accept-reject-modal>

<app-profile-bio-modal *ngIf="user && user.id" [userId]="user.id" [bio]="user.bio || ''" [isModalOpen]="isEditBioModalOpen"
(closeModal)="closeEditBioModal($event)"></app-profile-bio-modal>

<app-profile-picture-modal *ngIf="user && user.id" [userId]="user.id" [isModalOpen]="isEditPictureModalOpen"
(closeModal)="closeEditPictureModal($event)"></app-profile-picture-modal>