<div *ngIf="isModalOpen" class="modal">
    <div class="relative justify-center w-full max-w-md pb-5 bg-white rounded-lg shadow-lg px-7 pt-7">
        <h5 class="text-center">{{'settings.change_password' | translate}}</h5>
  
        <button (click)="close()" class="close-modal">
            &times;
        </button>

        <form (ngSubmit)="updatePassword()" #form="ngForm">
            <div class="mt-4">
                <label class="label-primary">{{'settings.old_password' | translate}}</label>
                <input class="input-primary" [ngClass]="{'alert-danger': currentPassword.invalid && showOldPasswordError}" 
                type="password" id="oldPassword" name="oldPassword" autocomplete="current-password" placeholder="{{'settings.old_password' | translate}}"
                required minlength="8"
                [(ngModel)]="oldPassword" #currentPassword="ngModel" 
                (input)="showOldPasswordError = false; oldPasswordWrong = false"/>
            </div>
            <ng-container *ngIf="showOldPasswordError" >
                <div *ngIf="currentPassword.errors?.['required']" class="error-message">
                    {{'login.password_required' | translate}}
                </div>
                <div *ngIf="currentPassword.errors?.['minlength']" class="error-message">
                    {{'login.password_short' | translate}}
                </div>
                <div *ngIf="oldPasswordWrong" class="error-message">
                    {{'login.password_wrong' | translate}}
                </div>
            </ng-container>

            <div class="mt-4">
                <label class="label-primary">{{'settings.new_password' | translate}}</label>
                <input class="input-primary" [ngClass]="{'alert-danger': password.invalid && showPasswordError}" 
                type="password" id="password" name="password" autocomplete="password" placeholder="{{'settings.new_password' | translate}}"
                required minlength="8"
                [(ngModel)]="newPassword" #password="ngModel" 
                (input)="showPasswordError = false; invalidPassword = false"/>
            </div>
            <ng-container *ngIf="showPasswordError" >
                <div *ngIf="password.errors?.['required']" class="error-message">
                    {{'login.password_required' | translate}}
                </div>
                <div *ngIf="password.errors?.['minlength']" class="error-message">
                    {{'login.password_short' | translate}}
                </div>
                <div *ngIf="invalidPassword" class="error-message">
                    {{'settings.invalid_password' | translate}}
                </div>
            </ng-container>

            <div class="mt-4">
                <label class="label-primary">{{'settings.new_password_confirm' | translate}}</label>
                <input class="input-primary" [ngClass]="{'alert-danger': passwordConfirm.invalid && showPasswordConfirmError}" 
                type="password" id="passwordConfirm" name="passwordConfirm" autocomplete="password" placeholder="{{'settings.new_password' | translate}}"
                required minlength="8"
                [(ngModel)]="newPasswordConfirm" #passwordConfirm="ngModel" 
                (input)="showPasswordConfirmError = false; passwordConfirmDifferent = false"/>
            </div>
            <ng-container *ngIf="showPasswordConfirmError" >
                <div *ngIf="passwordConfirm.errors?.['required']" class="error-message">
                    {{'login.password_required' | translate}}
                </div>
                <div *ngIf="passwordConfirm.errors?.['minlength']" class="error-message">
                    {{'login.password_short' | translate}}
                </div>
                <div *ngIf="passwordConfirmDifferent" class="error-message">
                    {{'settings.password_confirm_different' | translate}}
                </div>
            </ng-container>

            <div class="flex justify-center mt-4 gap-x-5">
                <button type="submit" class="w-1/4 btn-primary">{{'save_button_label' | translate}}</button>
                <button type="button" class="w-1/4 btn-cancel" (click)="close()">{{'cancel_button_label' | translate}}</button>
            </div>
        </form>
    </div>
  </div>