<div class="flex flex-col min-h-screen">
<ng-container *ngIf="isLogin === false">
<header class="bg-neutral-2">
    <nav class="flex items-center justify-between p-6 mx-auto max-w-7xl lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a routerLink="/" class="-m-1.5 p-1.5">
          <img class="w-auto h-12" [src]="iconUrl + '/fagiolo.png'" alt="">
        </a>
      </div>
  
      <div class="hidden lg:flex lg:gap-x-12">
        <a routerLink="/create" class="font-semibold select-none text-sm/6 text-primary">{{'header.create' | translate}}</a>
        <a routerLink="/my_bookings" class="font-semibold select-none text-sm/6 text-primary">{{'header.bookings'| translate}}</a>
        <a routerLink="/host_dashboard" class="font-semibold select-none text-sm/6 text-primary">{{'header.host-dashboard' | translate}}</a>
      </div>
  
      <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-x-7">
        <a routerLink="/notifications" class="font-semibold text-sm/6 text-primary">
          <img class="w-auto h-8 select-none" [src]="iconUrl + '/notification.png'" alt="">
        </a>
  
        <div class="relative" (click)="toggleLanguageMenu($event)">
          <button type="button" class="flex items-center font-semibold select-none gap-x-1 text-sm/6 text-primary">
            <img class="w-auto h-8 select-none" [src]="iconUrl + '/flags/' + selectedLanguage + '.png'" alt="">
            <svg class="flex-none text-gray-400 select-none size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </button>
  
          <div *ngIf="isLanguageMenuOpen" class="absolute right-0 z-50 w-32 mt-3 bg-white shadow-lg top-full rounded-xl ring-1 ring-gray-900/5">
            <div class="p-2 space-y-1">
              <button *ngFor="let lang of languages" (click)="changeLanguage(lang.code, $event)" class="flex items-center w-full px-4 py-2 text-sm text-left text-gray-900 gap-x-2 hover:bg-gray-50">
                <img class="w-auto h-5 select-none" [src]="iconUrl + '/flags/' + lang.code + '.png'" alt="">
                {{ lang.name }}
              </button>
            </div>
          </div>
        </div>
  
        <div class="relative" (click)="toggleProfileMenu($event)">
          <button type="button" class="flex items-center font-semibold gap-x-1 text-sm/6 text-primary">
            <img class="w-auto h-8" [src]="iconUrl + '/profile.png'" alt="">
            <svg class="flex-none text-gray-400 size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </button>
  
          <div *ngIf="isProfileMenuOpen" class="absolute right-0 z-50 w-48 mt-3 bg-white shadow-lg top-full rounded-xl ring-1 ring-gray-900/5">
            <div class="p-4 space-y-2">
              <a routerLink="/profile" class="block px-4 py-2 text-sm text-gray-900 select-none hover:bg-gray-50">{{'header.profile' | translate}}</a>
              <a routerLink="/favourites" class="block px-4 py-2 text-sm text-gray-900 select-none hover:bg-gray-50">{{'header.favourites' | translate}}</a>
              <a routerLink="/my_accommodations" class="block px-4 py-2 text-sm text-gray-900 select-none hover:bg-gray-50">{{'header.accommodations' | translate}}</a>
              <a routerLink="/admin_dashboard" class="block px-4 py-2 text-sm text-gray-900 select-none hover:bg-gray-50">{{'header.admin' | translate}}</a>
              <a (click)="authService.logout()" class="block px-4 py-2 text-sm text-gray-900 cursor-pointer select-none hover:bg-gray-50">{{'header.logout' | translate}}</a>       
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</ng-container>

<main class="flex-grow">
  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="isLogin === false">
  <footer class="w-full p-4 text-sm text-center text-gray-600 bg-gray-100 ">
    <p>&copy; {{ currentYear }} My Company. All rights reserved.</p>
  </footer>
</ng-container>
  
</div>
