<div *ngIf="booking">
    <div class="flex w-fit">
        <app-accommodation-card [accommodation]="booking.accommodation"></app-accommodation-card>
        <div class="flex flex-col justify-between p-4 ml-3 bg-white rounded-lg ">
            
            <div class="text-lg font-semibold text-start">
                <p> {{'bookings.checkIn' | translate}}:</p>
                <p class="text-gray-700">{{ booking.checkIn | date: 'short':undefined:locale}}</p>
                <p> {{'bookings.checkOut' | translate}}:</p>
                <p class="text-gray-700">{{ booking.checkOut | date: 'short':undefined:locale }}</p>
                <p class="text-lg font-semibold">  {{'bookings.price' | translate}}: 
                    <span *ngIf="booking.price > 0" class="text-green-600">{{ booking.price | currency:'EUR':'symbol-narrow':'1.2-2':'it-IT' }}</span>
                    <span *ngIf="booking.price == 0" class="text-green-600">{{'bookings.free' | translate | uppercase }}</span>
                </p>
            </div>

            <div *ngIf="!booking.reviewId" class="flex">
                <button type="button" class="w-full btn-primary">
                    {{'bookings.review' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
