/* Font */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/* Angular Material */
/* @import 'src/theme.scss'; */

/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
      font-family: "Parkinsans", serif;
    }
  }

@layer components {
  .btn-primary {
    @apply px-4 py-2 w-1/2 font-semibold text-white rounded shadow-md transition-colors duration-200 bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary-light focus:ring-opacity-75 disabled:opacity-50 disabled:bg-primary;
  }

  .btn-secondary {
    @apply px-4 py-2 w-1/2 font-semibold text-white rounded shadow-md transition-colors duration-200 bg-secondary hover:bg-secondary-dark focus:outline-none focus:ring-2 focus:ring-secondary-light focus:ring-opacity-75 disabled:opacity-50 disabled:bg-secondary;
  }

  .btn-cancel {
    @apply px-4 py-2 w-1/2 font-semibold text-gray-700 bg-gray-200 rounded shadow-sm transition-colors duration-200 hover:bg-gray-300 focus:outline-none;
  }

  .btn-danger {
    @apply px-4 py-2 w-1/2 font-semibold text-white bg-red-600 rounded shadow-md transition-colors duration-200 hover:bg-red-700 focus:outline-none;
  }

  .btn-success {
    @apply w-1/2 px-4 py-2 font-semibold text-white transition-colors duration-200 rounded shadow-sm bg-[#28db08] hover:bg-[#28b70e] focus:outline-none;
  }

  .input-primary {
    @apply block px-4 py-2 w-full text-gray-700 rounded border border-gray-300 appearance-none bg-neutral-1 focus:outline-none focus:shadow-sm focus:bg-neutral-2 focus:border-secondary;
  }

  .alert-danger {
    @apply bg-red-50 border-red-700;
  }

  .label-primary {
    @apply block mb-1 text-sm font-bold text-secondary;
  }

  .error-message {
    @apply block mt-1 mb-2 text-sm font-semibold text-red-700;
  }

  h1, h2, h3, h4 {
    @apply font-bold text-primary;
  }
  h5, h6 {
    @apply mb-2 font-bold text-secondary;
  }
  h1 { @apply mb-5 text-5xl; }
  h2 { @apply mb-4 text-4xl; }
  h3 { @apply mb-3 text-3xl; }
  h4 { @apply mb-2 text-2xl; }
  h5 { @apply text-xl; }
  h6 { @apply text-lg; }

  a { @apply underline text-secondary; }
  a:hover { @apply cursor-pointer text-secondary-dark; }
  a:active { @apply text-secondary-light; }
  nav a {@apply no-underline; }
  .clickable_card {@apply relative no-underline text-inherit; }

  .icon { @apply inline absolute z-20 w-10 h-10 align-middle hover:scale-105; }
  .icon img { @apply object-contain p-1.5; }
  .heart { @apply inline absolute top-4 right-4 align-middle hover:opacity-80 hover:scale-105;  }
  .heart img { @apply object-contain w-7 h-6; }

  .carousel-position {
    @apply w-3 h-3 bg-gray-300 rounded-full transition appearance-none cursor-pointer checked:bg-gray-400 focus:outline-none focus:bg-gray-400;
  }
  .carousel-positions-container {
    @apply flex z-30 pt-3 pb-2 space-x-2;
  }
  .carousel-arrow {
    @apply flex z-40 justify-center items-center self-center mx-2 w-8 h-8 rounded-full transition md:w-10 md:h-10 bg-gray-200/50 hover:bg-gray-300 focus:outline-none disabled:bg-gray-200/50;
  }
  .responsive-arrow { @apply absolute -bottom-8 md:self-center md:relative md:bottom-auto; }
  .responsive-left-arrow { @apply left-2 responsive-arrow; }
  .responsive-right-arrow { @apply right-2 responsive-arrow; }

  .modal { @apply flex fixed inset-0 z-50 justify-center items-center bg-black bg-opacity-50; }
  .close-modal { @apply absolute -top-0.5 right-2 p-2 text-3xl text-secondary hover:text-secondary-dark; }
  .modal-dialog { @apply relative w-screen bg-white rounded-lg shadow-lg sm:w-full md:max-w-md; }

  .stars-container { @apply flex flex-row gap-0 justify-start align-middle; }
  .star-container { @apply leading-5 text-center align-middle fill-current; }
  .star-half-container { @apply bg-gradient-to-r from-yellow-500 to-gray-300 from-50% to-50% bg-clip-text text-transparent; }
  .star-full { @apply text-yellow-500; }
  .star-empty { @apply text-gray-300; }

  .dropdown-container {@apply absolute right-0 top-full z-50 mt-3 w-48 rounded-xl ring-1 shadow-lg lg:bg-white ring-gray-900/5}
  .drop-menu-open {@apply relative right-auto top-auto w-fit shadow-none ring-transparent mt-1}
  .drop-box {@apply block px-4 py-2 text-sm text-gray-900 select-none hover:bg-gray-50}
  .drop-box-menu-open {@apply px-2 py-1 rounded-md hover:ring-2 hover:bg-inherit hover:ring-secondary-light/50}

  /* Use like this: 
  <ng-template #loader>
    <div class="flex justify-center items-center h-full">
        <div class="loader"></div>
    </div>
  </ng-template> */
  .loader { @apply w-10 h-10 rounded-full border-8 animate-spin border-t-gray-500; }


  html, body { height: 100%; }
  /* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

}
