<div class="p-4 bg-neutral-1">
    <!-- Header principale con le frecce per navigare -->
    <div class="flex items-center justify-between mb-4">
      <button (click)="prevMonth()" class="text-2xl text-primary-dark hover:text-primary">
        ⬅️
      </button>
      <h2 class="text-xl font-semibold text-primary">
        {{("book-now-component-from-accommodation-card." + getMonthName()) | translate}} {{ currentYear }}
      </h2>
      <button (click)="nextMonth()" class="text-2xl text-primary-dark hover:text-primary">
        ➡️
      </button>
    </div>
    <!-- Calendari affiancati con il nome del mese sopra ciascuno -->
    <div class="flex flex-row items-center content-center justify-center">
      <div class="flex space-x-4">
        <!-- Calendario del mese corrente -->
        <div class="p-2 rounded shadow bg-neutral-2">
          <h3 class="mb-2 text-lg font-medium text-center text-secondary">
              {{("book-now-component-from-accommodation-card." + getMonthName()) | translate}}
          </h3>
          <table class="w-full text-center">
            <thead>
              <tr class="text-sm font-bold">
                <th>{{"book-now-component-from-accommodation-card.sunday" | translate}}</th>
                <th>{{"book-now-component-from-accommodation-card.monday" | translate}}</th>
                <th>{{"book-now-component-from-accommodation-card.tuesday" | translate}}</th>
                <th>{{"book-now-component-from-accommodation-card.wednesday" | translate}}</th>
                <th>{{"book-now-component-from-accommodation-card.thursday" | translate}}</th>
                <th>{{"book-now-component-from-accommodation-card.friday" | translate}}</th>
                <th>{{"book-now-component-from-accommodation-card.saturday" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let week of calendarLeft">
                <td *ngFor="let day of week">
                  <div *ngIf="isAnAvailability(currentYear, getMonthName(), day) && !isSelected(currentYear, getMonthName(), day)" class="w-full bg-green-500 cursor-pointer" (click)="selectDay(currentYear, getMonthName(), day)">
                      {{ day || '' }}
                  </div>
                  <div *ngIf="isSelected(currentYear, getMonthName(), day) && isAnAvailability(currentYear, getMonthName(), day)" class="w-full bg-blue-800">
                      {{ day || '' }}
                  </div>
                  <div *ngIf="!isAnAvailability(currentYear, getMonthName(), day)">
                      {{ day || '' }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Calendario del mese successivo -->
        <div class="p-2 rounded shadow bg-neutral-2">
          <h3 class="mb-2 text-lg font-medium text-center text-secondary">
            {{ ("book-now-component-from-accommodation-card." + getNextMonthName()) | translate }}
          </h3>
          <table class="w-full text-center">
            <thead>
              <tr class="text-sm font-bold">
                  <th>{{"book-now-component-from-accommodation-card.sunday" | translate}}</th>
                  <th>{{"book-now-component-from-accommodation-card.monday" | translate}}</th>
                  <th>{{"book-now-component-from-accommodation-card.tuesday" | translate}}</th>
                  <th>{{"book-now-component-from-accommodation-card.wednesday" | translate}}</th>
                  <th>{{"book-now-component-from-accommodation-card.thursday" | translate}}</th>
                  <th>{{"book-now-component-from-accommodation-card.friday" | translate}}</th>
                  <th>{{"book-now-component-from-accommodation-card.saturday" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let week of calendarRight">
                <td *ngFor="let day of week">
                  <div *ngIf="isAnAvailability(nextMonthYear, nextMonthName(), day) && !isSelected(nextMonthYear, nextMonthName(), day)" class="w-full bg-green-500 cursor-pointer" (click)="selectDay(nextMonthYear, nextMonthName(), day)">
                      {{ day || '' }}
                  </div>
                  <div *ngIf="isSelected(nextMonthYear, nextMonthName(), day) && isAnAvailability(nextMonthYear, nextMonthName(), day)" class="w-full bg-blue-800">
                      {{ day || '' }}
                  </div>
                  <div *ngIf="!isAnAvailability(nextMonthYear, nextMonthName(), day)">
                      {{ day || '' }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex flex-row items-center justify-center align-middle" *ngIf="isMe">
      <input type="checkbox" class="mt-2" id="checkbox-is-an-unavailability" [(ngModel)]="isAnUnavailability" />
      <label for="checkbox-is-an-unavailability" class="mt-2 ml-3 label-primary">{{"book-now-component-from-accommodation-card.is-an-unavailability" | translate}}</label>
    </div>
    <div id="btn-container" class="flex flex-row items-center justify-center">
        <button type="button" class="w-auto mt-5 btn-primary" (click)="resetSelectedDates()">{{"book-now-component-from-accommodation-card.reset-choices-word" | translate}}</button>
        <button type="button" [disabled]="!selectedCheckIn || !selectedCheckOut" class="w-auto mt-5 btn-success" (click)="confirmSelectedDates()">{{"book-now-component-from-accommodation-card.confirm-choices-word" | translate}}</button>
    </div>
  </div>

  <ng-container *ngIf="thereAreMessagesToDiplay">
    <button class="btn-primary mt-14" (click)="clearMessages()">{{"book-now-component-from-accommodation-card.clear-word" | translate}}</button>

    <h1 class="text-xl text-blue-800" *ngIf="invalidAccommodationError">
        {{"book-now-component-from-accommodation-card.invalid-accommodation-error" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="noAccommodationIdWasProvidedError">
        {{"book-now-component-from-accommodation-card.no-accommodation-id-or-invalid-was-provided-error" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="errorOccurredWhileFetchingMonthNameOrIndexError">
        {{"book-now-component-from-accommodation-card.error-occurred-while-fetching-month-name-or-number-error" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="invalidChosenDayError">
        {{"book-now-component-from-accommodation-card.invalid-chosen-day-error" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="completedBooking">
      {{"book-now-component-from-accommodation-card.completed-booking" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="errorInBookingProcedure">
      {{"book-now-component-from-accommodation-card.booking-procedure-error" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="completedUnavailabilitySettingMessage">
      {{"book-now-component-from-accommodation-card.completed-unavailability-setting" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="userNotLoggedError">
      {{"book-now-component-from-accommodation-card.user-not-logged-error" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="accommodationInfoError">
      {{"book-now-component-from-accommodation-card.accommodation-info-error" | translate}}
    </h1>

    <h1 class="text-xl text-blue-800" *ngIf="backendMsg && backendMsg != ''">
      {{backendMsg}}
    </h1>

  </ng-container>
  