<div *ngIf="accommodation" class="w-72 group hover:-translate-y-2" [draggable]="draggable" (dragstart)="onDragStart(accommodation, $event)">
    <a class="clickable_card " (click)="onClick($event)">
      <div class="flex flex-col flex-1 overflow-hidden bg-white rounded-lg shadow-lg" >
        <div *ngIf="accommodation.main_photo_url; else no_photo">
          <img [src]="'http://localhost:4200/assets/'+accommodation.main_photo_url" [alt]="accommodation.main_photo_url" class="object-cover h-64">
        </div>
        <ng-template #no_photo>
          <img src = {{genericHouseUrl}} [alt]="genericHouseUrl" class="object-fit h-64">
        </ng-template>

        <div class="flex flex-col items-center flex-1 p-4 text-center">
          <span *ngIf="accommodation.title" class="flex items-baseline justify-between gap-x-2">
            <h4 class="inline group-hover:text-primary-dark">{{accommodation.title}}</h4>
          </span>
  
          <p> 
            <span *ngIf="accommodation.city">{{accommodation.city}}</span>
            <span *ngIf="accommodation.city && accommodation.province">, </span>
            <span *ngIf="accommodation.province">{{accommodation.province}}</span>
            <span *ngIf="(accommodation.city || accommodation.province) && accommodation.country"> - </span> 
            <span *ngIf="accommodation.country">{{accommodation.country}}</span>
          </p>
        </div>
      </div>  
    </a>
  </div>
  