<ng-container id="average-price-over-time-line-chart" class="chart-card-container">
    <app-admin-dashboard-average-price-over-time-line-chart [multi]="multi"></app-admin-dashboard-average-price-over-time-line-chart>
</ng-container>

<ng-container id="number-of-bookings-over-time-bar-chart" class="mt-14 chart-card-container">

</ng-container>

<ng-container id="occupation-percentage-over-time-area-chart" class="mt-14 chart-card-container">

</ng-container>

<ng-container id="most-booked-accommodations-horizontal-bar-chart" class="mt-14 chart-card-container">

</ng-container>

