<section class="flex items-center justify-center pt-8 bg-neutral-1">
    <div class="container p-5 text-center">
      <h2>{{'my_accommodations.title' | translate}}</h2>
      <app-accommodation-cards [accommodations$]="accommodations$" [pageNumber]="accommodationsPageNumber" [totalPages]="accommodationsTotalPages" 
        (askForPage)="loadAccommodationsPage($event)"></app-accommodation-cards>
    </div>
</section>
<section *ngIf="allPendingAccommodations.length > 0" class="flex items-center justify-center pt-8 bg-neutral-2">
  <div class="container p-5 text-center">
    <h2>{{'my_accommodations.pending' | translate}}</h2>
    <app-accommodation-cards [accommodations$]="pendingAccommodations$" [pageNumber]="pendingAccommodationsPageNumber" [totalPages]="pendingAccommodationsTotalPages" 
      (askForPage)="loadPendingAccommodationsPage($event)"></app-accommodation-cards>
  </div>
</section>
<section *ngIf="allRejectedAccommodations.length > 0" 
  [ngClass]="{'bg-neutral-1': allPendingAccommodations.length > 0, 'bg-neutral-2': !allPendingAccommodations.length}" class="flex items-center justify-center pt-8">
  <div class="container p-5 text-center">
    <h2>{{'my_accommodations.rejected' | translate}}</h2>
    <app-accommodation-cards [accommodations$]="rejectedAccommodations$" [pageNumber]="rejectedAccommodationsPageNumber" [totalPages]="rejectedAccommodationsTotalPages" 
      (askForPage)="loadRejectedAccommodationsPage($event)"></app-accommodation-cards>
  </div>
</section>

<section *ngIf="allMyDrafts.length > 0" class="flex items-center justify-center pt-8 bg-neutral-1">
  <div class="container p-5 text-center">
    <h2>{{'my_accommodations.drafts' | translate}}</h2>
    <app-draft-cards [accommodations$]="myDrafts$" [pageNumber]="myDraftsPageNumber" [totalPages]="myDraftsTotalPages" 
      (askForPage)="loadMyDraftsPage($event)"></app-draft-cards>
  </div>
</section>
