<div class="flex flex-col items-center mt-10">
    <!-- Controlli di navigazione -->
    <div class="flex justify-between mb-4 w-80">
      <button (click)="navigateMonths(-1)" class="text-2xl text-primary-dark">
        ⬅️
      </button>
      <h2 class="text-xl font-bold text-primary">
        {{ ("choose-book-period-from-acc-details." + currentMonth.name | translate) }} {{ currentMonth.year }}
      </h2>
      <button (click)="navigateMonths(1)" class="text-2xl text-primary-dark">
        ➡️
      </button>
    </div>
  
    <!-- Contenitore dei calendari -->
    <div class="flex justify-center gap-8">
      <!-- Calendario del mese precedente -->
      <div class="w-64 p-4 border rounded-lg shadow-md bg-neutral-2 border-neutral-1">
        <h3 class="mb-3 text-lg font-bold text-center text-primary-dark">
          {{ ("choose-book-period-from-acc-details." + previousMonth.name | translate) }} {{ previousMonth.year }}
        </h3>
        <div class="grid grid-cols-7 gap-2">
          <div *ngFor="let day of previousMonth.days"
            class="p-2 font-medium text-center rounded-md w-9 bg-secondary-light text-neutral-1">
            <div *ngIf="!availabilities.includes((day < 10 ? '0'+day : day) + '-' + previousMonth.name + '-' + previousMonth.year)" class="text-center">{{day}}</div>
            <div *ngIf="!isSelectedOrBetween(day, previousMonth.name, previousMonth.year) && availabilities.includes((day < 10 ? '0'+day : day) + '-' + previousMonth.name + '-' + previousMonth.year)" class="text-center bg-green-400 cursor-pointer" (click)="selectDay(day, 'previousMonth', previousMonth.name, previousMonth.year)">{{day}}</div>
            <div *ngIf="isSelectedOrBetween(day, previousMonth.name, previousMonth.year) && availabilities.includes((day < 10 ? '0'+day : day) + '-' + previousMonth.name + '-' + previousMonth.year)" class="text-center bg-primary-dark">{{day}}</div>
          </div>
        </div>
      </div>
  
      <!-- Calendario del mese attuale -->
      <div class="w-64 p-4 border rounded-lg shadow-md bg-neutral-2 border-neutral-1">
        <h3 class="mb-3 text-lg font-bold text-center cursor-pointer text-primary-dark">
          {{ ("choose-book-period-from-acc-details." + currentMonth.name | translate) }} {{ currentMonth.year }}
        </h3>
        <div class="grid grid-cols-7 gap-2">
          <div *ngFor="let day of currentMonth.days"
          class="p-2 font-medium text-center rounded-md w-9 bg-secondary-light text-neutral-1" >
            <div *ngIf="!availabilities.includes((day < 10 ? '0'+day : day) + '-' + currentMonth.name + '-' + currentMonth.year)" class="text-center">{{day}}</div>
            <div *ngIf="!isSelectedOrBetween(day, currentMonth.name, currentMonth.year) && availabilities.includes((day < 10 ? '0'+day : day) + '-' + currentMonth.name + '-' + currentMonth.year)" class="text-center bg-green-400 cursor-pointer" (click)="selectDay(day, 'currentMonth', currentMonth.name, currentMonth.year)">{{day}}</div>
            <div *ngIf="isSelectedOrBetween(day, currentMonth.name, currentMonth.year) && availabilities.includes((day < 10 ? '0'+day : day) + '-' + currentMonth.name + '-' + currentMonth.year)" class="text-center bg-primary-dark">{{day}}</div>
          </div>
        </div>
      </div>
    </div>
    <div id="clear-div-btn">
        <button class="w-auto mt-4 btn-primary" (click)="resetChoices()">{{("choose-book-period-from-acc-details.reset-btn") | translate}}</button>
    </div>
  </div>
  