<div *ngIf="isModalOpen" class="modal">
    <div class="relative justify-center w-full max-w-md pb-5 text-center bg-white rounded-lg shadow-lg px-7 pt-7">
        <ng-container *ngIf="action=='accept'">
            <h5>{{'review.accept_title' | translate}}</h5>
            <p class="text-sm">{{'review.accept_subtitle' | translate}}</p>
        </ng-container>
        <ng-container *ngIf="action=='reject'">
            <h5>{{'review.reject_title' | translate}}</h5>
            <p class="text-sm">{{'review.reject_subtitle' | translate}}</p>
        </ng-container>
  
        <button (click)="close()" class="close-modal">
            &times;
        </button>

        <div class="flex justify-center mt-4 gap-x-5">
            <ng-container *ngIf="action=='accept'">
                <button type="button" class="w-1/4 btn-success" (click)="accept()">{{'review.accept_button_label' | translate}}</button>
            </ng-container>
            <ng-container *ngIf="action=='reject'">
                <button type="button" class="w-1/4 btn-danger" (click)="reject()">{{'review.reject_button_label' | translate}}</button>
            </ng-container>
            <button type="button" class="w-1/4 btn-cancel" (click)="close()">{{'cancel_button_label' | translate}}</button>
        </div>
        <p *ngIf="error" class="mt-4 mb-0 text-center error-message">{{'error' | translate}}</p>
    </div>
  </div>