<ng-container *ngIf="(accommodations$ | async) as accommodations">
    <div *ngIf="accommodations && accommodations.length > 0" class="justify-self-center">
        <div class="flex items-start self-center justify-center p-3 align-top w-fit flex-nowrap gap-x-5">
            <div class="flex flex-wrap justify-center gap-3">
                <div *ngFor="let accommodation of accommodations" class="flex max-w-sm p-2 rounded-lg text-start lg:max-w-4xl">
                    <app-accommodation-card [accommodation]="accommodation"></app-accommodation-card>
                </div>
            </div>
            
            <!-- class="z-40 flex items-center self-center justify-center w-10 h-10 transition rounded-full bg-gray-200/50 hover:bg-gray-300 focus:outline-none"-->
        </div>
        <div class="flex flex-row justify-center">
            <button type="button" class="carousel-arrow" (click)="prevPage()" [disabled]="pageNumber === 0">
                <svg class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
        </button>
        <div class="flex items-center justify-center space-x-2 lg:px-2"> 
            <div class="flex flex-row gap-2">
                <input type="button" name="pagePosition" [ngClass]="{'btn-secondary': n != pageNumber, 'btn-primary': n == pageNumber}" *ngFor="let _ of [].constructor(totalPages); let n = index" value="{{n + 1}}" (click)="getPage(n)">
            </div>
        </div>
        <button type="button" class="carousel-arrow" (click)="nextPage()" [disabled]="pageNumber === totalPages - 1">
            <svg class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </button>
        </div>
    </div>
    
    <div *ngIf="!accommodations || accommodations.length === 0" class="text-center">
        <span>{{"accommodations_cards.notFound" | translate}}</span>
    </div>
</ng-container>
