<h2>Accept/Reject Accommodations</h2>

<section *ngIf="allPendingAccommodations && allPendingAccommodations.length > 0; else noAccommodations" class="flex justify-center items-center pt-8 bg-neutral-2">
    <div class="container p-5 text-center">
      <app-accommodation-cards [accommodations$]="pendingAccommodations$" [pageNumber]="pendingAccommodationsPageNumber" [totalPages]="pendingAccommodationsTotalPages" 
        (askForPage)="loadPendingAccommodationsPage($event)" [isPending]="true"></app-accommodation-cards>
    </div>
</section>

<ng-template #noAccommodations>
    <h3>{{"accommodations_cards.notFound" | translate}}</h3>
</ng-template>