<form [formGroup]="searchForm" (ngSubmit)="search()" class="flex flex-wrap items-center gap-4 bg-gray-100 p-6 rounded-lg shadow-md">
    <div class="flex flex-col">
      <label for="city" class="text-sm font-medium">{{'search.city' | translate}}</label>
      <input id="city" type="text" formControlName="city"
        class="border border-gray-300 rounded-lg p-2 w-48 focus:ring focus:ring-blue-300">
    </div>
  
    <div class="flex flex-col">
      <label for="checkIn" class="text-sm font-medium">Check-in</label>
      <input id="checkIn" type="date" formControlName="checkIn"
        class="border border-gray-300 rounded-lg p-2 w-48 focus:ring focus:ring-blue-300">
      <span *ngIf="searchForm.get('checkIn')?.invalid && searchForm.get('checkIn')?.touched" class="text-red-500 text-sm">{{'search.date-error' | translate}}</span>
    </div>
  
    <div class="flex flex-col">
      <label for="checkOut" class="text-sm font-medium">Check-out</label>
      <input id="checkOut" type="date" formControlName="checkOut"
        class="border border-gray-300 rounded-lg p-2 w-48 focus:ring focus:ring-blue-300">
      <span *ngIf="searchForm.get('checkOut')?.invalid && searchForm.get('checkOut')?.touched" class="text-red-500 text-sm">{{'search.date-error' | translate}}</span>
    </div>
  
    <div class="flex flex-col">
      <label for="people" class="text-sm font-medium">{{'search.people' | translate}}</label>
      <input id="people" type="number" min="1" formControlName="people"
        class="border border-gray-300 rounded-lg p-2 w-20 focus:ring focus:ring-blue-300">
      <span *ngIf="searchForm.get('people')?.invalid && searchForm.get('people')?.touched" class="text-red-500 text-sm">{{'search.min-person' | translate}}</span>
    </div>
  
    <button type="submit" [disabled]="searchForm.invalid"
      class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition disabled:bg-gray-400">
      {{'search.search'| translate}}
    </button>
  </form>