<div class="flex gap-4 justify-center items-center mb-4 text-center">
    <h2 class="mb-0">{{"admin-dashboard-accommodations.all_title" | translate}}</h2>
    <button class="p-2 rounded" (click)="toggleSearchBar()">
        <!-- hamburger menu icon -->
      <!-- <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg> -->
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor" class="w-8 h-8 text-gray-500">
        <path d="M80-200v-80h400v80H80Zm0-200v-80h200v80H80Zm0-200v-80h200v80H80Zm744 400L670-354q-24 17-52.5 25.5T560-320q-83 0-141.5-58.5T360-520q0-83 58.5-141.5T560-720q83 0 141.5 58.5T760-520q0 29-8.5 57.5T726-410l154 154-56 56ZM560-400q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z"/>
      </svg>
    </button>
</div>

<div *ngIf="isSearchBarVisible" class="sticky top-0 z-20 p-4 rounded-lg shadow-md bg-neutral-1">
    <app-admin-dashdoard-search-bar (searchSubmitted)="search($event)"></app-admin-dashdoard-search-bar>
</div>

<div *ngIf="isLoading" class="flex justify-center items-center min-h-screen">
    <div class="flex justify-center items-center h-full">
        <div class="loader"></div>
    </div>
</div>

<section *ngIf="!isLoading && allAccommodations && allAccommodations.length > 0" class="flex justify-center items-center pt-8 bg-neutral-2">
    <div class="container p-5 text-center">
      <app-search-accommodation-list [accommodations$]="allAccommodations$" [pageNumber]="allAccommodationsPageNumber" [totalPages]="allAccommodationsTotalPages" 
        (askForPage)="loadAllAccommodationsPage($event)" [status]="'all'"></app-search-accommodation-list>
    </div>
</section>

<div *ngIf="!isLoading && allAccommodations && allAccommodations.length === 0" class="flex justify-center items-center min-h-screen">
    <div class="container p-5 text-center">
        <p>{{"accommodations_cards.notFound" | translate}}</p>
    </div>
</div>