<div class="flex gap-4 items-center mb-4">
    <h2 class="mb-0">{{"admin-dashboard-accommodations.all_title" | translate}}</h2>
    <button class="p-2 rounded" (click)="toggleSearchBar()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>
</div>

<div *ngIf="isSearchBarVisible" class="sticky top-0 z-20 p-4 rounded-lg shadow-md bg-neutral-1">
    <app-admin-dashdoard-search-bar (searchSubmitted)="search($event)"></app-admin-dashdoard-search-bar>
</div>

<div *ngIf="isLoading" class="flex justify-center items-center min-h-screen">
    <div class="flex justify-center items-center h-full">
        <div class="loader"></div>
    </div>
</div>

<section *ngIf="!isLoading && allAccommodations && allAccommodations.length > 0" class="flex justify-center items-center pt-8 bg-neutral-2">
    <div class="container p-5 text-center">
      <app-search-accommodation-list [accommodations$]="allAccommodations$" [pageNumber]="allAccommodationsPageNumber" [totalPages]="allAccommodationsTotalPages" 
        (askForPage)="loadAllAccommodationsPage($event)" [status]="'all'"></app-search-accommodation-list>
    </div>
</section>

<div *ngIf="!isLoading && allAccommodations && allAccommodations.length === 0" class="flex justify-center items-center min-h-screen">
    <div class="container p-5 text-center">
        <p>{{"accommodations_cards.notFound" | translate}}</p>
    </div>
</div>