<div class="p-6 mb-4 bg-white rounded-lg shadow-md">
  <div *ngIf="!isEditing; else editFormTemplate" class="relative flex items-center space-x-6">
    <img [src]="user.profilePictureUrl" alt="Profile Picture" 
         class="object-cover w-24 h-24 border-4 rounded-full border-primary-dark">
    
    <div class="relative flex-grow">
      <p class="text-xl font-bold text-gray-800">{{ user.name }} {{ user.surname }}</p>
      <p class="text-base text-gray-600">{{ user.email }}</p>
    </div>
    
    <div>
      <button (click)="toggleEdit()" class="p-2 text-primary-dark rounded-full hover:bg-gray-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
      </button>
    </div>
  </div>
  
  <ng-template #editFormTemplate>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="relative z-20 space-y-4">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div class="relative">
          <label class="label-primary">
            {{'adminProfile.name' | translate}}
          </label>
          <input formControlName="name" required
                 class="input-primary">
          <p *ngIf="editForm.get('name')?.hasError('required')" class="mt-1 text-sm text-red-600">
            {{'adminProfile.required' | translate}}
          </p>
        </div>
        
        <div class="relative">
          <label class="label-primary">
            {{'adminProfile.surname' | translate}}
          </label>
          <input formControlName="surname" required
                 class="input-primary">
          <p *ngIf="editForm.get('surname')?.hasError('required')" class="mt-1 text-sm text-red-600">
            {{'adminProfile.required' | translate}}
          </p>
        </div>
        
        <div class="relative col-span-full">
          <label class="label-primary">
            {{'adminProfile.email' | translate}}
          </label>
          <input formControlName="email" type="email" required
                 class="input-primary">
          <p *ngIf="editForm.get('email')?.hasError('email')" class="mt-1 text-sm text-red-600">
            {{'adminProfile.nonValid' | translate}}
          </p>
        </div>
        
        <div class="relative col-span-full">
          <label class="label-primary">
            {{'adminProfile.newPassword' | translate}}
          </label>
          <input type="password" formControlName="password"
                 class="input-primary">
          <p class="mt-1 text-xs text-gray-500">
            {{'adminProfile.passwordMessage' | translate}}
          </p>
        </div>
      </div>
      
      <div class="flex justify-end space-x-2">
        <button type="button" (click)="cancelEdit()"
                class="btn-cancel">
          {{'adminProfile.cancel' | translate}}
        </button>
        <button type="submit" [disabled]="editForm.invalid"
                class="btn-primary">
          {{'adminProfile.save' | translate}}
        </button>
      </div>
    </form>
  </ng-template>
</div>